:root {
    --qw-dark-blue: #002244;
    --qw-white: #ffffff;
    --qw-grey: #4D4D4D;
    --qw-red: #DC143C;
}


html,body,button {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--qw-grey);
    letter-spacing: .1rem;
}

h1 {
    padding: 15px 0;
}

strong {
    color: var(--qw-red);
}

a {
    color: var(--qw-red);
}

a:hover {
    color: var(--qw-dark-blue);
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.qw-blue-container {
    background: var(--qw-dark-blue);
    color: var(--qw-white);
}

.qw-red-button{
    background: var(--qw-red);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: white;
}

.qw-red-button:hover {
    background: var(--qw-white);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: var(--qw-red);
}

.qw-label {
    padding: 10px 0;
    color: var(--qw-grey);
    font-weight: bolder;
}

.qw-form-check:checked {
    background-color: var(--qw-red);
    border: var(--qw-red);
}

.qw-form-check:focus, .qw-form-select:focus {
    border-color: var(--qw-red);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.25);
}

.qw-header, .qw-footer {
    padding: 25px 50px;
    color: var(--qw-white) !important;
}

.qw-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.qw-content {
    padding: 5vh 2vw;
}

/***************************************
 Landing Page Style
****************************************/
/*
TODO --> Window size change CSS
 */
.landing-page-container {
    height: 100%
}

.inner-container {
    width:70%;
    font-size: 2em;
}

.landing-page-logo {
    width: 60%;
}

/***************************************
 Header & Footer style
****************************************/

.header-link, .footer-link{
    color: var(--qw-white);
    padding: 0px 25px;
}

.header-link:hover, .footer-link:hover{
    color: var(--qw-red);
}

/***************************************
 Impressum & About Us style
****************************************/
.qw-section {
    padding: 15px 0;
}

.qw-section > h2 {
    font-size: 1.25rem;
    color: var(--qw-red);
}