:root {
    --qw-dark-blue: #002244;
    --qw-white: #ffffff;
    --qw-grey: #4D4D4D;
    --qw-red: #DC143C;
}

html,body,button {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--qw-grey);
    letter-spacing: .1rem;
}

.qw-blue-container {
    background: var(--qw-dark-blue);
    color: var(--qw-white);
}

.qw-red-button{
    background: var(--qw-red);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: white;
}

.qw-red-button:hover {
    background: var(--qw-white);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: var(--qw-red);
}

.qw-label {
    padding: 10px 0;
    color: var(--qw-grey);
    font-weight: bolder;
}

.qw-form-check:checked {
    background-color: var(--qw-red);
    border: var(--qw-red);
}

.qw-form-check:focus {
    border-color: var(--qw-red);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.25);
}

.qw-form-select:focus {
    border-color: var(--qw-red);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.25);
}

/***************************************
 Landing Page Style
****************************************/
/*
TODO --> Window size change CSS
 */
.landing-page-container {
    height: 100%
}

.inner-container {
    width:70%;
    font-size: 2em;
}

.landing-page-logo {
    width: 60%;
}
