@import "VariablesQW.css";


/***************************************
 HTML Tags style
****************************************/

html,body,button {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--qw-grey);
    letter-spacing: .1rem;
}

strong {
    color: var(--qw-red);
}

a {
    color: var(--qw-red);
}

a:hover {
    color: var(--qw-dark-blue);
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.qw-red-text {
    color: var(--qw-red);;
}

/***************************************
 Containers style
****************************************/

.qw-blue-container {
    background: var(--qw-dark-blue);
    color: var(--qw-white);
}

.qw-content {
    padding: 5vh 2vw;
}

/***************************************
 Buttons style
****************************************/
.qw-red-button{
    background: var(--qw-red);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: white;
}

.qw-red-button:hover {
    background: var(--qw-white);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: var(--qw-red);
}


/***************************************
 Header & Footer style
****************************************/
.qw-header {
    padding: 25px 50px;
    color: var(--qw-white) !important;
}

.qw-footer {
    height: 50px;
    padding: 0 50px;
    color: var(--qw-white) !important;
}

.header-link, .footer-link{
    color: var(--qw-white);
    padding: 0px 25px;
}

.header-link:hover, .footer-link:hover{
    color: var(--qw-red);
}

.qw-section {
    padding: 15px 0;
}

.qw-section > h2 {
    font-size: 1.25rem;
    color: var(--qw-red);
}

/***************************************
 Loader Components
****************************************/

.qw-loader-container {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(245, 245, 245, 0.25);
}

.qw-spinner {
    height: 5vh;
    width: 5vh;
    color: var(--qw-red);
}