:root {
    --qw-dark-blue: #002244;
    --qw-white: #ffffff;
    --qw-grey: #4D4D4D;
    --qw-red: #DC143C;
    --qw-pastal-yellow: #F2EAC4;
    --qw-pastal-red: #FAA8A8;
    --qw-pastal-green: #9AE3B7;
}


html,body,button {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--qw-grey);
    letter-spacing: .1rem;
}

h1 {
    padding: 15px 0;
}

strong {
    color: var(--qw-red);
}

a {
    color: var(--qw-red);
}

a:hover {
    color: var(--qw-dark-blue);
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.qw-blue-container {
    background: var(--qw-dark-blue);
    color: var(--qw-white);
}

.qw-red-button{
    background: var(--qw-red);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: white;
}

.qw-red-button:hover {
    background: var(--qw-white);
    padding: 10px 50px;
    border: 2px solid var(--qw-red);
    color: var(--qw-red);
}

.qw-loader-container {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(245, 245, 245, 0.25);
}

.qw-spinner {
    height: 5vh;
    width: 5vh;
    color: var(--qw-red);
}

.qw-label {
    padding: 10px 0;
    color: var(--qw-grey);
    font-weight: bolder;
}

.qw-form-check:checked {
    background-color: var(--qw-red);
    border: var(--qw-red);
}

.qw-form-check:focus, .qw-form-select:focus {
    border-color: var(--qw-red);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.25);
}

.qw-header, .qw-footer {
    padding: 25px 50px;
    color: var(--qw-white) !important;
}

.qw-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.qw-content {
    padding: 5vh 2vw;
}

.qw-question-container {
    width: 100%;
}

.qw-question {
    padding: 20px 0;
    text-align: center;
    border: 1px var(--qw-grey) solid;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.qw-options-container {
    padding: 5vh 0;
}

.qw-option {
    background: none;
    padding: 20px 0;
    text-align: center;
    border: 1px var(--qw-grey) solid;
    width: 45%;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.qw-option-selected {
    border-color: var(--qw-pastal-yellow);
    background: var(--qw-pastal-yellow);
}

.qw-option-correct {
    border-color: var(--qw-pastal-green);
    background: var(--qw-pastal-green);
}

.qw-option-wrong {
    border-color: var(--qw-pastal-red);
    background: var(--qw-pastal-red);
}

/* Apply margin-right: 2.5% to the 1st and 3rd elements */
.qw-options-container .row .qw-option:nth-child(2n+1) {
    margin-right: 2.5%;
}

/* Apply margin-left: 2.5% to the 2nd and 4th elements */
.qw-options-container .row .qw-option:nth-child(2n) {
    margin-left: 2.5%;
}

.qw-option:hover, .qw-option.selected,
.qw-option:active  {
    border-color: var(--qw-pastal-yellow);
    background: var(--qw-pastal-yellow);
}

.qw-progress-container {
    padding: 20px 0;
    margin-bottom: 5vh;
}

.qw-hide {
    display: none !important;
}

.qw-show {
    display: block !important;
    opacity: 1;
}

/***************************************
 Landing Page Style
****************************************/
/*
TODO --> Window size change CSS
 */
.landing-page-container {
    height: 100%
}

.inner-container {
    width:70%;
    font-size: 2em;
}

.landing-page-logo {
    width: 60%;
}

/***************************************
 Header & Footer style
****************************************/

.header-link, .footer-link{
    color: var(--qw-white);
    padding: 0px 25px;
}

.header-link:hover, .footer-link:hover{
    color: var(--qw-red);
}

/***************************************
 Impressum & About Us style
****************************************/
.qw-section {
    padding: 15px 0;
}

.qw-section > h2 {
    font-size: 1.25rem;
    color: var(--qw-red);
}

/***************************************
 Login & Register style
****************************************/

.qw-card-layout {
    height: 100%;
    width: 100%;
}

.qw-card-container {
    height: 70%;
    width: 70%;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.qw-card-inner-layout {
    padding: 4em;
    width: 100%;
    height: 100%;
}

.qw-card-inner-layout.div {
    width: 100%;
}

.qw-card-icon-layout {
    height: 10em;
}


/***************************************
 Login & Register form
****************************************/

.qw-form {
    padding: 2em;
}

.qw-form > div{
    padding: 10px 0;
    width: 100%;
}

.qw-form > div > button{
    padding: 10px 0;
    width: 100%;
}