:root {
    --qw-dark-blue: #002244;
    --qw-white: #ffffff;
    --qw-grey: #4D4D4D;
    --qw-red: #DC143C;
    --qw-pastal-yellow: #F2EAC4;
    --qw-pastal-red: #FAA8A8;
    --qw-pastal-green: #9AE3B7;
}